@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


body{
    background-image:url('images/double-bubble-outline.png');
}

#container{
    background-color:#fff;
    border-left:1px solid #333;
    border-right:1px solid #333;
}

header{
}

header button{
    float:right;
    font-size:2em;
    font-family:"Architects Daughter";
    margin:40px 150px 0 0;
    color: #F288AF
}

nav{
    display:flex;
    flex-direction: row;
    justify-content: space-around;    
}

nav a{
    text-decoration: none;
    font-size: 2.5em;
    color:#BF8B5E;
    background-color:#FDF4D1;
    border-radius: 20px;
    padding:10px;
}

nav a:hover{
    background-color:#333;
    color:#F288AF;
}

#mainIceCream{
    background-image:url('images/ice-cream-white-chocolate-wallpaper-preview.jpg');
    background-repeat: no-repeat;
}

#storedescription h1{
    font-size:4em;
    text-align: center;
    font-family:"Architects Daughter";
}

#storedescription h2{
    font-size:3em;
    text-align: center;
    font-family:"Architects Daughter";
}

aside{
    background-color:#ddd;
    border-radius: 30px;
    box-shadow: 3px 3px; 
    padding:10px;
    margin:10px;
}

aside h2{
    font-size:3em;
    text-align: center;
    color:#F288AF;
    font-family:"Architects Daughter";
}

footer{
    padding-top:20px;
    font-family:"Architects Daughter";
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url(images/ice-cream-white-chocolate-wallpaper-preview.jpg);
    background-size: contain;
    
}
footer{
    font-size:1.3em;
}