#container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-auto-rows: minmax(40px,auto); 
    column-gap: 5px;
    grid-row-gap: 5px;
    width:90%;
    margin: 0 auto;
}

header{
    grid-column-start: 1; 
    grid-column-end: 5; 
    grid-row-start: 1; 
    grid-row-end: 6;
}

nav{
    grid-column-start: 1; 
    grid-column-end: 5; 
    grid-row-start: 6; 
    grid-row-end: 7;
}

#mainIceCream{
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 7; 
    grid-row-end: 18; 
}

#storedescription{
    grid-column-start: 3; 
    grid-column-end: 5; 
    grid-row-start: 7; 
    grid-row-end: 15; 
}

aside{
    grid-column-start: 3; 
    grid-column-end: 5; 
    grid-row-start: 15; 
    grid-row-end: 18;  
}

footer{
    grid-column-start: 1; 
    grid-column-end: 5; 
    grid-row-start: 18; 
    grid-row-end: 19; 
}
