

#container{
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    /*align-items: center;*/
  width:100%;
    
}

.box1,.box2,.box3,.box4{
    background-color:#f00;
    flex-grow:1;
    margin:5px;
    height:200px;
}
/*
.box1,.box4{
    height:200px;
}

.box2{
    height:100px;
}

.box3{
    height:150px;
}
*/
