

#container{
    display:flex;
    flex-flow: column;
    justify-content: space-between;
  width:100%;
    
}
#level1,#level2,#level3,#level4{
    display:flex;
    flex-flow: row;
    justify-content: center;
}

.box1,.box2,.box3,.box4{
    margin:5px;
    height:200px;
    border:1px solid black;
    flex-grow:1;
    
}

.doubleSize{
  flex-grow:2; 
}


*/