header,aside,footer{
    background-color:#f00;
}

#container{
    display:grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: minmax(100px,auto); 
    column-gap: 5px;
    grid-row-gap: 5px;
}

header{
    grid-column-start: 1; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 2;
}

aside.col1{
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 2; 
    grid-row-end: 5;
}
aside.col2{
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 2; 
    grid-row-end: 5;
}

aside.col3{
    grid-column-start: 3; 
    grid-column-end: 4; 
    grid-row-start: 2; 
    grid-row-end: 5;
}
footer{
    grid-column-start: 1; 
    grid-column-end: 4; 
    grid-row-start: 5; 
    grid-row-end: 6;
}